body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Prevents scrolling */
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  max-height: 90vh; /* Set a maximum height */
  width: 100%;
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in the width and height */
  overflow: auto; /* Enables internal scrolling if needed */
}

.registration-form h1 {
  text-align: center;
  margin-bottom: 10px;
}

.registration-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.registration-form fieldset {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

.registration-form fieldset legend {
  font-weight: bold;
}

.registration-form fieldset label {
  display: block;
  margin-top: 10px;
}

.registration-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.registration-form button:hover {
  background-color: #0056b3;
}

.form-image {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: auto;
  object-fit: cover;
}

.summary {
  text-align: center;
}

.summary h2 {
  margin-bottom: 10px;
}

.summary p {
  margin: 10px 0;
}

.summary button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.summary button:hover {
  background-color: #218838;
}

.alert-success {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  box-sizing: border-box;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .registration-form {
    padding: 10px;
  }

  .registration-form input,
  .registration-form select,
  .registration-form fieldset,
  .registration-form button {
    padding: 8px;
    font-size: 14px;
  }

  .registration-form button {
    padding: 10px;
  }

  .summary button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .form-image {
    height: 150px;
  }
}


